[user]
	name = Arun KS
#	email = arun.ks@broadcom.com
	email = getarunks@gmail.com
[color]
	ui = auto
[alias]
	b = branch -v
	fp = format-patch -k -M -N -s
	co = checkout
	s = status
	d = diff
	ca = commit --amend
	rh = reset --hard
	cp = cherry-pick
	lo = log --oneline
	bc = branch -a --contains
	pr = pull --rebase
	r = revert
	c = commit -s
